/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
 
img{
    width: 100%;
    height: auto;
}

:root{
    /* 16px definido pelo navegador */
    font-size: 100%; 
}

#header{
    /* 16px * 4.5rem = 72px */
    height: 4.5rem;
}

nav{
     display: flex;
     justify-content: space-between ;
}

.container{
    width: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}